table.court-wrapper {
	margin: 0 auto;
}

table.court-wrapper td {
	margin-bottom: 30px;
}

.court {
	height:110px;
	width:195px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 4px;
}

.court:hover {
	cursor: pointer;
}

.key {
	margin-left: 40px;
	margin-right: 40px;
}

.special {
	margin-top: -50px;
}

span.legend-color {
	float:left;
	width:45px;
}

td.special-key {
	vertical-align: none !important;

}

.legend-text {
	margin-left:20px;
	float:left;
}

.legend-wrapper {
	margin-right: 10px;
}

.legend {
	margin-top:35px;
}

.taken {
	background-color: #CF0D0D;
}

.free {
	background-color: #8CC63C;
}

.court p {
	padding-top:30px;
}

